In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

lonas = pd.read_csv('Data/sedec_lonas.csv',sep=";")

In [2]:
lonas.head()

,ano,mes,processo_numero,colocacao_lona_situacao,colocacao_lona_data,colocacao_lona_justificativa,colocacao_lona_metragem,colocacao_lona_qtd_pontos
0,2013,02-fevereiro,8002108013,Sim,25/02/2013,2-15X08,240,1
1,0,Não informado,8003832612,Não,NaN,SOLICITAÇÃO NÃO ATENDIDA PELA GRANDE DEMANDA D...,0,0
2,0,Não informado,8005348412,Não,NaN,Lona no local.,0,0
3,0,Não informado,8003833212,Não,NaN,SOLICITAÇÃO NÃO ATENDIDA PELA GRANDE DEMANDA D...,0,0
4,2013,03-marco,8002630913,Sim,05/03/2013,1-15X08,120,1

In [3]:
lonas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8091 entries, 0 to 8090
Data columns (total 8 columns):
ano                             8091 non-null int64
mes                             8091 non-null object
processo_numero                 8091 non-null int64
colocacao_lona_situacao         8079 non-null object
colocacao_lona_data             7043 non-null object
colocacao_lona_justificativa    4999 non-null object
colocacao_lona_metragem         8091 non-null int64
colocacao_lona_qtd_pontos       8091 non-null int64
dtypes: int64(4), object(4)
memory usage: 379.3+ KB

In [4]:
lonas = lonas.rename(columns={'ano':'year','mes':'month','processo_numero':'ID','colocacao_lona_situacao':'in_place',
                      'colocacao_lona_data':'date_of_placement','colocacao_lona_justificativa':'justification',
                      'colocacao_lona_metragem':'length','colocacao_lona_qtd_pontos':'num_points'})
lonas

,year,month,ID,in_place,date_of_placement,justification,length,num_points
0,2013,02-fevereiro,8002108013,Sim,25/02/2013,2-15X08,240,1
1,0,Não informado,8003832612,Não,NaN,SOLICITAÇÃO NÃO ATENDIDA PELA GRANDE DEMANDA D...,0,0
2,0,Não informado,8005348412,Não,NaN,Lona no local.,0,0
3,0,Não informado,8003833212,Não,NaN,SOLICITAÇÃO NÃO ATENDIDA PELA GRANDE DEMANDA D...,0,0
4,2013,03-marco,8002630913,Sim,05/03/2013,1-15X08,120,1
...,...,...,...,...,...,...,...,...
8086,2019,11-novembro,8125598519,Sim,04/11/2019,Recibo Nº 80658,480,1
8087,2019,11-novembro,8127199019,Sim,05/11/2019,roçagem realizado no dia 05.11.19 recibo 82295...,480,1
8088,2019,10-outubro,8124936419,Sim,22/10/2019,recibo 82420,480,1
8089,2019,11-novembro,8124471119,Sim,11/11/2019,lona já foi colocada em 04.11.9,10000,13
8090,2019,11-novembro,8131172619,Sim,04/11/2019,lona colocada dia 04.11.19 recibo 80662,160,1

In [5]:
lonas_year = lonas.sort_values(by=['year'])
lonas_year.iloc[2000:2010]

,year,month,ID,in_place,date_of_placement,justification,length,num_points
904,2012,06-junho,8001610612,Sim,14/06/2012,NaN,240,1
789,2012,06-junho,8002683712,Sim,06/06/2012,Colocação de GEL.,0,1
754,2012,05-maio,8002201212,Sim,08/05/2012,Colocação em 07/05/12.,1040,1
795,2012,05-maio,8001216612,Sim,16/05/2012,lona colocada,240,1
905,2012,04-abril,8001667812,Sim,25/04/2012,NaN,600,1
918,2012,04-abril,8001658912,Sim,25/04/2012,NaN,400,1
706,2012,06-junho,8002483812,Sim,26/06/2012,NaN,1000,1
697,2012,06-junho,8002755812,Sim,08/06/2012,NaN,280,1
703,2012,07-julho,8005191812,Sim,12/07/2012,NaN,120,1
794,2012,05-maio,8002008812,Sim,15/05/2012,lona colocada.,120,1

In [6]:
vistorias = pd.read_csv('Data/sedec_vistorias.csv',sep=";")

In [7]:
vistorias.head()

,ano,mes,avaliador,vistoria_data,vistoria_risco,vistoria_localidade,vistoria_rpa_codigo,vistoria_microrregiao,vistoria_setor,processo_numero
0,2012,12-dezembro,Engenheiro - Área Morro,2012-12-13 14:34:07,R3 Alto,ALTO DA JAQUEIRA - Jordão,6,6.2,6-SUL,8008472812
1,2012,12-dezembro,Engenheiro - Área Morro,2012-12-20 11:59:13,R2 Médio,Jardim Teresópoles,4,4.3,4-NORDESTE,8008985512
2,2012,12-dezembro,Engenheiro - Área Morro,2012-12-21 14:51:29,R4 Muito Alto,UR-05,6,6.2,6-SUL,8008835312
3,2012,12-dezembro,Engenheiro - Área Morro,2012-12-28 10:09:20,R4 Muito Alto,ALTO DA BRASILEIRA,3,3.3,3-NOROESTE,8006628012
4,2012,12-dezembro,Engenheiro - Área Morro,2012-12-13 10:50:13,Não informado,UR-02,6,6.2,6-SUL,8008455612

In [8]:
vistorias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15772 entries, 0 to 15771
Data columns (total 10 columns):
ano                      15772 non-null int64
mes                      15772 non-null object
avaliador                15772 non-null object
vistoria_data            15505 non-null object
vistoria_risco           15772 non-null object
vistoria_localidade      15772 non-null object
vistoria_rpa_codigo      15772 non-null object
vistoria_microrregiao    15772 non-null object
vistoria_setor           15772 non-null object
processo_numero          15772 non-null int64
dtypes: int64(2), object(8)
memory usage: 739.4+ KB

In [9]:
vistorias = vistorias.rename(columns={'processo_numero':'ID'})
vistorias

,ano,mes,avaliador,vistoria_data,vistoria_risco,vistoria_localidade,vistoria_rpa_codigo,vistoria_microrregiao,vistoria_setor,ID
0,2012,12-dezembro,Engenheiro - Área Morro,2012-12-13 14:34:07,R3 Alto,ALTO DA JAQUEIRA - Jordão,6,6.2,6-SUL,8008472812
1,2012,12-dezembro,Engenheiro - Área Morro,2012-12-20 11:59:13,R2 Médio,Jardim Teresópoles,4,4.3,4-NORDESTE,8008985512
2,2012,12-dezembro,Engenheiro - Área Morro,2012-12-21 14:51:29,R4 Muito Alto,UR-05,6,6.2,6-SUL,8008835312
3,2012,12-dezembro,Engenheiro - Área Morro,2012-12-28 10:09:20,R4 Muito Alto,ALTO DA BRASILEIRA,3,3.3,3-NOROESTE,8006628012
4,2012,12-dezembro,Engenheiro - Área Morro,2012-12-13 10:50:13,Não informado,UR-02,6,6.2,6-SUL,8008455612
...,...,...,...,...,...,...,...,...,...,...
15767,2016,07-julho,Engenheiro - Área Morro,2016-07-19 09:51:27,Não informado,JARDIM PETRÓPOLIS,4,4.3,4-NORDESTE,8008116314
15768,2016,07-julho,Engenheiro - Área Morro,2016-07-28 18:13:23,Não informado,BONGI,5,5.1,5-SUDOESTE,8008202012
15769,2016,07-julho,Engenheiro - Área Morro,2016-07-28 18:14:57,Não informado,ESPINHEIRO,3,3.1,3-NOROESTE,8003338013
15770,2016,07-julho,Engenheiro - Área Morro,2016-07-28 18:14:34,Não informado,BOA VIAGEM,6,6.1,6-SUL,8003985513
15771,2016,07-julho,Engenheiro - Área Morro,2016-07-28 18:12:38,Não informado,SANTO ANTONIO,1,1.2,1-CENTRO,8002698213

In [10]:
lonas_vistorias = lonas.set_index("ID").join(vistorias.set_index("ID"))

In [11]:
lonas_vistorias.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8885 entries, 8000001214 to 8143616318
Data columns (total 16 columns):
year                     8885 non-null int64
month                    8885 non-null object
in_place                 8873 non-null object
date_of_placement        7599 non-null object
justification            5644 non-null object
length                   8885 non-null int64
num_points               8885 non-null int64
ano                      1672 non-null float64
mes                      1672 non-null object
avaliador                1672 non-null object
vistoria_data            1670 non-null object
vistoria_risco           1672 non-null object
vistoria_localidade      1672 non-null object
vistoria_rpa_codigo      1672 non-null object
vistoria_microrregiao    1672 non-null object
vistoria_setor           1672 non-null object
dtypes: float64(1), int64(3), object(12)
memory usage: 763.6+ KB

In [12]:
teste.head()

,year,month,in_place,date_of_placement,justification,length,num_points,ano,mes,avaliador,vistoria_data,vistoria_risco,vistoria_localidade,vistoria_rpa_codigo,vistoria_microrregiao,vistoria_setor
ID,,,,,,,,,,,,,,,,
8000001214,2014,01-janeiro,Sim,07/01/2014,NaN,80,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8000001413,2013,03-marco,Sim,18/03/2013,NaN,280,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8000003713,0,Não informado,Não,NaN,Porque a Defesa Civil de Jaboatão já colocou l...,0,0,2013.0,01-janeiro,Geólogo,2013-01-17 12:24:55,Não informado,Não informada,Não informado,Não informado,Não informado
8000003713,0,Não informado,Não,NaN,Porque a Defesa Civil de Jaboatão já colocou l...,0,0,2013.0,01-janeiro,Assistente Social,2013-01-23 10:04:30,Não informado,Não informada,Não informado,Não informado,Não informado
8000006613,2013,01-janeiro,Sim,03/01/2013,lona colocada,120,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
chamados = pd.read_csv('Data/sedec_chamados.csv',sep=';')
solicitacoes = pd.read_csv('Data/sedec_solicitacoes.csv',sep=';')
ocorrencias = pd.read_csv('Data/sedec_tipo_ocorrencias.csv',sep=';')

In [14]:
chamados = chamados.rename(columns={'processo_numero':'ID'})
solicitacoes = solicitacoes.rename(columns={'processo_numero':'ID'})
ocorrencias = ocorrencias.rename(columns={'processo_numero':'ID'})

In [15]:
chamados.head()

,ano,mes,ID,solicitacao_data,solicitacao_hora,solicitacao_descricao,solicitacao_regional,solicitacao_bairro,solicitacao_localidade,solicitacao_endereco,...,latitude,longitude,solicitacao_vitimas,solicitacao_vitimas_fatais,processo_situacao,processo_tipo,processo_origem,processo_localizacao,processo_status,processo_data_conclusao
0,2020,01-janeiro,8000001720,2020-01-01,05:56,TESTE DE ESPELHAMENTO AO QUIKVIEW 01 01 2020,PLANICIE,AFLITOS,AFLITOS,RUA AAA,...,NaN,NaN,Não,Não,execucao,ATENDIMENTO,NaN,SEDEC - GERÊNCIA REGIONAL PLANICIE,TRAMITAÇÃO,NaN
1,2019,12-dezembro,8146602119,2019-12-10,08:23,USUÁRIO INFORMA QUE O SÍNDICO ESTÁ REALIZANDO ...,PLANICIE,AFLITOS,AFLITOS,"RUA CARNEIRO VILELA, 343",...,NaN,NaN,Não,Não,completo,ATENDIMENTO,NaN,SEDEC - GERÊNCIA REGIONAL PLANICIE,ARQUIVADO,2019/12/16 09:36:16.987
2,2019,12-dezembro,8146604419,2019-12-10,08:23,USUÁRIO INFORMA QUE O SÍNDICO ESTÁ REALIZANDO ...,PLANICIE,AFLITOS,AFLITOS,"RUA CARNEIRO VILELA, 343",...,NaN,NaN,Não,Não,completo,ATENDIMENTO,NaN,SEDEC - GERÊNCIA REGIONAL PLANICIE,ARQUIVADO,2019/12/10 08:48:09.749
3,2019,09-setembro,8112538919,2019-09-17,16:36,"USUÁRIO SOLICITA VISTORIA, INFORMA QUE SUA RES...",PLANICIE,AFLITOS,AFLITOS,"AV SANTOS DUMONT , N 290",...,NaN,NaN,Não,Não,completo,ATENDIMENTO,NaN,SEDEC - GERÊNCIA REGIONAL PLANICIE,ARQUIVADO,2019/09/20 11:14:10.615
4,2019,09-setembro,8109426919,2019-09-09,14:55,USUÁRIO INFORMA QUE QUE CASARÃO COSTA AZEVEDO ...,PLANICIE,AFLITOS,AFLITOS,AV CONS ROSA E SILVA N 707,...,NaN,NaN,Não,Não,completo,ATENDIMENTO,NaN,SEDEC - GERÊNCIA REGIONAL PLANICIE,ARQUIVADO,2019/09/16 14:40:50.180

In [16]:
chamados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45975 entries, 0 to 45974
Data columns (total 26 columns):
ano                           45975 non-null int64
mes                           45975 non-null object
ID                            45975 non-null int64
solicitacao_data              45975 non-null object
solicitacao_hora              45975 non-null object
solicitacao_descricao         45975 non-null object
solicitacao_regional          45964 non-null object
solicitacao_bairro            45975 non-null object
solicitacao_localidade        45798 non-null object
solicitacao_endereco          45971 non-null object
solicitacao_roteiro           45971 non-null object
rpa_codigo                    45975 non-null object
rpa_nome                      45975 non-null object
solicitacao_microrregiao      43356 non-null object
solicitacao_plantao           45975 non-null object
solicitacao_origem_chamado    45975 non-null object
latitude                      33009 non-null float64
longitude                     33009 non-null float64
solicitacao_vitimas           28651 non-null object
solicitacao_vitimas_fatais    28651 non-null object
processo_situacao             45919 non-null object
processo_tipo                 45975 non-null object
processo_origem               0 non-null float64
processo_localizacao          45971 non-null object
processo_status               45955 non-null object
processo_data_conclusao       9386 non-null object
dtypes: float64(3), int64(2), object(21)
memory usage: 5.4+ MB

In [21]:
lonas_chamados = lonas.set_index("ID").join(chamados.set_index('ID'))

In [22]:
lonas_chamados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8091 entries, 8000001214 to 8143616318
Data columns (total 32 columns):
year                          8091 non-null int64
month                         8091 non-null object
in_place                      8079 non-null object
date_of_placement             7043 non-null object
justification                 4999 non-null object
length                        8091 non-null int64
num_points                    8091 non-null int64
ano                           8091 non-null int64
mes                           8091 non-null object
solicitacao_data              8091 non-null object
solicitacao_hora              8091 non-null object
solicitacao_descricao         8091 non-null object
solicitacao_regional          8091 non-null object
solicitacao_bairro            8091 non-null object
solicitacao_localidade        8068 non-null object
solicitacao_endereco          8090 non-null object
solicitacao_roteiro           8090 non-null object
rpa_codigo                    8091 non-null object
rpa_nome                      8091 non-null object
solicitacao_microrregiao      6612 non-null object
solicitacao_plantao           8091 non-null object
solicitacao_origem_chamado    8091 non-null object
latitude                      6971 non-null float64
longitude                     6971 non-null float64
solicitacao_vitimas           2515 non-null object
solicitacao_vitimas_fatais    2515 non-null object
processo_situacao             8051 non-null object
processo_tipo                 8091 non-null object
processo_origem               0 non-null float64
processo_localizacao          8090 non-null object
processo_status               8073 non-null object
processo_data_conclusao       408 non-null object
dtypes: float64(3), int64(4), object(25)
memory usage: 1.3+ MB

In [23]:
lonas_solicitacoes = lonas.set_index("ID").join(solicitacoes.set_index('ID'))
lonas_solicitacoes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8599 entries, 8000001214 to 8143616318
Data columns (total 25 columns):
year                        8599 non-null int64
month                       8599 non-null object
in_place                    8585 non-null object
date_of_placement           7493 non-null object
justification               5450 non-null object
length                      8599 non-null int64
num_points                  8599 non-null int64
ano                         8599 non-null int64
mes                         8599 non-null object
solicitacao_data            8599 non-null object
solicitacao_hora            8599 non-null object
solicitacao_descricao       8599 non-null object
solicitacao_regional        8599 non-null object
solicitacao_bairro          8599 non-null object
solicitacao_localidade      8574 non-null object
solicitacao_endereco        8598 non-null object
solicitacao_roteiro         8598 non-null object
rpa_codigo                  8599 non-null object
rpa_nome                    8599 non-null object
solicitacao_microrregiao    7120 non-null object
solicitacao_plantao         8599 non-null object
processo_situacao           8559 non-null object
processo_tipo               8599 non-null object
processo_origem             0 non-null float64
processo_solicitacao        3023 non-null object
dtypes: float64(1), int64(4), object(20)
memory usage: 1.0+ MB

In [24]:
lonas_ocorrencias = lonas.set_index("ID").join(ocorrencias.set_index('ID'))
lonas_ocorrencias.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8292 entries, 8000001214 to 8143616318
Data columns (total 8 columns):
year                   8292 non-null int64
month                  8292 non-null object
in_place               8279 non-null object
date_of_placement      7216 non-null object
justification          5181 non-null object
length                 8292 non-null int64
num_points             8292 non-null int64
processo_ocorrencia    2716 non-null object
dtypes: int64(3), object(5)
memory usage: 421.1+ KB

In [25]:
ocorrencias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31622 entries, 0 to 31621
Data columns (total 2 columns):
ID                     31622 non-null int64
processo_ocorrencia    31622 non-null object
dtypes: int64(1), object(1)
memory usage: 370.6+ KB

In [27]:
chamados.head()

,ano,mes,ID,solicitacao_data,solicitacao_hora,solicitacao_descricao,solicitacao_regional,solicitacao_bairro,solicitacao_localidade,solicitacao_endereco,...,latitude,longitude,solicitacao_vitimas,solicitacao_vitimas_fatais,processo_situacao,processo_tipo,processo_origem,processo_localizacao,processo_status,processo_data_conclusao
0,2020,01-janeiro,8000001720,2020-01-01,05:56,TESTE DE ESPELHAMENTO AO QUIKVIEW 01 01 2020,PLANICIE,AFLITOS,AFLITOS,RUA AAA,...,NaN,NaN,Não,Não,execucao,ATENDIMENTO,NaN,SEDEC - GERÊNCIA REGIONAL PLANICIE,TRAMITAÇÃO,NaN
1,2019,12-dezembro,8146602119,2019-12-10,08:23,USUÁRIO INFORMA QUE O SÍNDICO ESTÁ REALIZANDO ...,PLANICIE,AFLITOS,AFLITOS,"RUA CARNEIRO VILELA, 343",...,NaN,NaN,Não,Não,completo,ATENDIMENTO,NaN,SEDEC - GERÊNCIA REGIONAL PLANICIE,ARQUIVADO,2019/12/16 09:36:16.987
2,2019,12-dezembro,8146604419,2019-12-10,08:23,USUÁRIO INFORMA QUE O SÍNDICO ESTÁ REALIZANDO ...,PLANICIE,AFLITOS,AFLITOS,"RUA CARNEIRO VILELA, 343",...,NaN,NaN,Não,Não,completo,ATENDIMENTO,NaN,SEDEC - GERÊNCIA REGIONAL PLANICIE,ARQUIVADO,2019/12/10 08:48:09.749
3,2019,09-setembro,8112538919,2019-09-17,16:36,"USUÁRIO SOLICITA VISTORIA, INFORMA QUE SUA RES...",PLANICIE,AFLITOS,AFLITOS,"AV SANTOS DUMONT , N 290",...,NaN,NaN,Não,Não,completo,ATENDIMENTO,NaN,SEDEC - GERÊNCIA REGIONAL PLANICIE,ARQUIVADO,2019/09/20 11:14:10.615
4,2019,09-setembro,8109426919,2019-09-09,14:55,USUÁRIO INFORMA QUE QUE CASARÃO COSTA AZEVEDO ...,PLANICIE,AFLITOS,AFLITOS,AV CONS ROSA E SILVA N 707,...,NaN,NaN,Não,Não,completo,ATENDIMENTO,NaN,SEDEC - GERÊNCIA REGIONAL PLANICIE,ARQUIVADO,2019/09/16 14:40:50.180

In [28]:
chamados['solicitacao_vitimas'].unique()

array(['Não', 'Sim', nan], dtype=object)

In [32]:
contagem = chamados.solicitacao_vitimas.value_counts()
contagem

Não    28571
Sim       80
Name: solicitacao_vitimas, dtype: int64

In [34]:
fatais = chamados.solicitacao_vitimas_fatais.value_counts()
fatais

Não    28644
Sim        7
Name: solicitacao_vitimas_fatais, dtype: int64

In [36]:
ocorrencias.head()

           ID                      processo_ocorrencia
0  8155845218  Não há Ocorrência para essa Solicitação
1  8155698018               Deslizamentos de Barreiras
2  8155361518    Invasao de Terreno de Auxilio Moradia
3  8155337718                  Imoveis com Danos/Risco
4  8155296918  Não há Ocorrência para essa Solicitação

In [37]:
lonas_ocorrencias.head()

,year,month,in_place,date_of_placement,justification,length,num_points,processo_ocorrencia
ID,,,,,,,,
8000001214,2014,01-janeiro,Sim,07/01/2014,NaN,80,1,NaN
8000001413,2013,03-marco,Sim,18/03/2013,NaN,280,1,NaN
8000003713,0,Não informado,Não,NaN,Porque a Defesa Civil de Jaboatão já colocou l...,0,0,NaN
8000006613,2013,01-janeiro,Sim,03/01/2013,lona colocada,120,1,NaN
8000007213,2013,01-janeiro,Sim,03/01/2013,ROÇAGEM E TALUDE SUPERIOR E INFERIOR,320,1,NaN

In [38]:
o = lonas_ocorrencias.processo_ocorrencia.value_counts()
o

Não há Ocorrência para essa Solicitação               2079
Deslizamentos de Barreiras                             524
Arvores em Risco                                        43
Imoveis com Danos/Risco                                 42
Muro com Danos                                           8
Desabamento Parcial Imoveis                              5
Tombamento de Arvores                                    5
Imoveis Alagados                                         4
Desabamento Parcial de Obras de Contencao/Drenagem       2
Invasao de Terreno de Auxilio Moradia                    2
Desabamento Total Imoveis                                1
Desabamento Total de Obras de Contencao/Drenagem         1
Name: processo_ocorrencia, dtype: int64

In [39]:
a = lonas_ocorrencias.justification.value_counts()
a

lona colocada                                                                                                                            293
Devido a chegada do período de estiagem, estão supensas as colocações de lonas nas áreas de risco, até alguma mudança da pluvimetria.    205
LONA COLOCADA                                                                                                                            189
1-15x08                                                                                                                                  175
LONA COLOCADA.                                                                                                                           137
                                                                                                                                        ...
Recibo 53054                                                                                                                               1
n44334                                                                                                                                     1
recibo 27132                                                                                                                               1
n56767                                                                                                                                     1
Recibo: 82173                                                                                                                              1
Name: justification, Length: 2879, dtype: int64